<h1>Pilot room
  <button class="add-button" [routerLink]="['pilots', 'new']">
        Dodaj
      </button>
</h1>
<app-pilot
  *ngFor="let pilot of pilots"
  [pilot]="pilot"
  [class.selected]="pilot == selectedPilot"
>
  <button
    *ngIf="selectedPilot !== pilot; else deselectButton"
    class="select-button"
    (click)="select(pilot)"
  >
    Zaznacz
  </button>
  <button class="edit-button" [routerLink]="['pilots', pilot.id]">
    Edytuj
  </button>
  <ng-template #deselectButton>
    <button class="deselect-button" (click)="select(null)">
      Odznacz
    </button>
  </ng-template>
</app-pilot>
